@charset "utf-8";

@font-face {
    font-family: titulo;
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: hed;
    src: url('__MACOSX/fontes/._droid') format('opentype');
}

:root{
    --cor1: rgb(0, 77, 46);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: rgb(126, 248, 201);
}

header{
   background-image: linear-gradient(to bottom, rgb(0, 199, 123), rgb(0, 133, 82), rgb(0, 77, 46));
   /*background-attachment: fixed;*/
    color: white;
    width: auto;
    height: 170px;
    margin: 0px;
    padding: 5px;
}
header > h1{
    margin: 0px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.288);
}
header > p{
    margin: 0px;
    text-align: center;
    padding: 5px;
}
nav > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 0px;
    transition-duration: 0.5s;
    padding: 12px 15px 12px 15px;
    border-radius: 5px;
}
nav > a:hover{
    background-color: rgb(119, 211, 119);
    
}
nav > a:active{
    color: rgb(170, 170, 255);

}



.estilo{
    font-family: titulo;
}
main{
    margin: auto;
    min-width: 280px;
    max-width: 800px;
    background-color: white;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
}
main > h1{
    margin: 0px;
    padding: 20px 0px 10px 30px;
}
main > h2{
    margin: 20px 30px 10px 30px;
    padding: 0px 10px;
    color: var(--cor1);
    background-image: linear-gradient(to right, rgb(126, 248, 201), rgb(255, 255, 255));
}
main > p{
    text-indent: 30px;
    margin: 0px;
    padding: 5px 30px;
    text-align: justify;
    line-height: 2em;
    
}
section > h2{
    margin: 0px;
    padding: 5px 30px;
}
section > p{
    text-indent: 30px;
    margin: 0px;
    padding: 5px 30px;
    text-align: justify;
    line-height: 2em;
    
}
section > li{
    margin: 0px;
    padding: 5px 30px;
}


footer{
    background-color: var(--cor1);
    color: white;
    margin: 0px;
    padding: 20px;
}
footer > p{
    margin: 0px;
}
footer > p > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
img{
    display: block;
    margin: auto;
}
iframe{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 600px;
}
.v{
    max-width: 350px;
}
aside{
    background-color: rgba(69, 236, 158, 0.534);
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.466);
}
aside > p{
    padding: 5px;
    
}
aside > h2{
    color: white;
    background-color: var(--cor1);
    margin: 0px;
    padding: 8px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
section{
    background-color: green;
}